* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/** PAGE SIZING AND ORGANIZATION **/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}


/* Navigation Bar CSS */

.header {
    border-bottom: 1px solid #E2E8F0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

#navigation-links-fs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

.nav-link:hover {
    color: #482ff7;
}

#logo {
    width: auto;
    max-width: 100%;
    max-height: 145px;
    border: 0;
}

/* Navigation Bar Donate Button*/

.donate-now-btn {
    background-color: #22bce2;
    padding: 10px 15px;
    border: #22bce2;
    font-size: 16px
}

/* Hamburger Styles */

.hamburger-navigation {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/** HERO IMAGE **/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

body,
header {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative;
    /* color: white; */
    margin: .25rem;
    margin-left: 100px;
    color: #fff;
}

.hero-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.hero-button {
    background-color: #22bce2;
    padding: 10px 15px;
    border: #22bce2;
    font-size: 16px;
    color: #fff;
    margin-top: 1rem;
}


/* FONTS FORMATTING */

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 75%;
}

/** MISSION STATEMENT SECTION **/

.mission-statement-flex {
    display: flex;
    margin: 50px auto 50px auto;
    height: 100%;
}

.m-flex-image {
    width: 400px;
    height: 400px;
}


.m-flex-image:nth-of-type(1) {
    margin-left: 160px;
    margin-right: 60px;
}

.m-flex-image:nth-of-type(2) {
    margin-left: 60px;
    margin-right: 160px;
}

.m-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 30px 0;

}

.m-flex-title {
    font-size: 30px;
}

.m-flex-text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/** INFORMATION IMAGE AND WHAT WE DO SECTION **/

.information-section {

    /*CONTAINER MOVEMENT*/
    position: relative;
    max-width: 100%;
    height: 700px;
    padding-bottom: -30px;

    /* BACKGROUND IMAGE QUALITIES */
    background-image: url(/static/kids-image.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.information-section::after {
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

}

.info-content {
    z-index: 150;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-header {
    z-index: 150;
    font-size: 24px;
    color: white;
    
}

.info-para {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 50px;
}
.info-text {
    z-index: 150;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-self: start;
    margin: 15px 0;
    width: 50%;
}

.info-text a{
    color: #22bce2 ;
}

.info-text a:hover{
    color: white;
    text-decoration: underline;
    transition: color 1000ms;
}

/* FACTS SECTION */

#facts-sect {
    width: 100%;
    height: min-content;
    margin: 50px auto 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#fact-title {
    text-align: left;
    font-size: 3rem;
    color: #22bce2;
}

.fact-content {
    align-self: center;
    margin: 10px 0;
    padding-left: 200px;
}

.facts-list {
    text-align: left;
}

.fact-item {
    font-size: 1.5rem;
    padding: 8px;
    list-style-type: disc;
    font-weight: 400;
 }

 #quote {
    font-size: 1.5rem;
    font-weight: 400;
 }


/*testimonials section */
#testimonials {
    background-image: url(/static/pexels-rebecca-zaal-764681.jpg);
    position: relative;
    width: 100%;
    height: min-content;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#testimonials::after {
    background-color: #ff661f;
    opacity: .88;
    top: 0;
    left: 0;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

}

.test-title { 
    font-size: 2.5rem;
    z-index: 150;
    margin-top: 50px;
    align-self: center;
    color: white;
    font-weight: bold;
}

.test-content {
    display: flex;
    flex-direction: row;
    margin: 30px 125px 30px 125px;
    z-index: 150;
    font-weight: bold;
    height: auto;
}

.test-item {
    font-weight: 400;
    font-size: 1.35rem;
    flex: 1 1 0px;
    line-height: 1.5;
    margin: 8px auto 8px auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.test-item h3 {
    padding: 15px;
    margin-left: 0;
}

/** 

ALL RELATED FOOTER CSS

**/

footer h2 {
    text-align: center;
}

#social-links {
    padding-top: 2rem;
}


/**

FOOTER FLEX BOX CSS 

**/

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 75px;
    height: 400px;
    background: rgb(95, 79, 146);
    background: linear-gradient(180deg, rgba(95, 79, 146, 1) 23%, rgba(95, 79, 146, 1) 34%, rgba(34, 188, 226, 1) 82%);
}

.all-rights {
    font-size: 1.25rem;
}

.f-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 30px;
    padding-bottom: 30px;
}

i {
    padding: 5px;
    padding-top: 7px;
}

#footer-title {
    color: white;
}

#ig-logo {
    padding-left: 0;
}

#social-links {
    padding-top: 10px;
}

#social-links a {
    color: white;
}

.title-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.title-links h2 {
    font-size: 28px;
}

.footer-navigation-links {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
}

.f-nav-link {
    flex: 50%;
}

.f-nav-link a {
    font-size: 1.5rem;
    color: #22bce2;
}

.f-nav-link a:hover {
    color: white;
    text-decoration: underline;
    transition: color 1000ms;
}

.all-rights {
    color: white;
}

@media only screen  and (max-width: 1399px) {

    .hero-content {
        margin: 0 45px;
    }

    .mission-statement-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px auto;
    }

    .m-flex-image {
        margin: 5px 0px;
    }

    .m-flex-image:nth-of-type(1) {
        margin-left: 0;
        margin-right: 0;
    }
    
    .m-flex-image:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }

    .test-content {
        margin: 30px auto 0px auto;
    }

}
@media only screen and (max-width: 768px) {

    /* RESPONSIVE HERO IMAGE */
    .hero-content {
        margin: 0 15px;
    }
    /* RESPONSIVE NAVIGATION SIZING */
    #navigation-links-fs {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    #navigation-links-fs.active {
        left: 0;
    }

    .navigation-item {
        margin: 2.5rem 0;
    }

    .hamburger-navigation {
        display: block;
        cursor: pointer;
    }
    

    .nav-link {
        color: black;
    }

    /* active class settings for hamburger menu*/

    .hamburger-navigation.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-navigation.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-navigation.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* RESPONSIVE HERO IMAGE SIZING */
    
    .mission-statement-flex{
        flex-direction: column;
        margin: 0 0 0 0;
    }

    .m-flex-image:nth-of-type(1) {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .m-flex-image:nth-of-type(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .m-flex-image {
        width: 75%;
        height: auto;
    }

    /* INFO SECTION */

    .information-section {
        height: min-content;
    }
    
    .info-content {
        align-items: flex-start;
    }

    .info-para {
        width: 100%;
    }

    .info-text {
        align-self: center;
        width: 100%;
    }

    .m-content {
        padding: 0;
    }

    .info-content {
        align-self: center;
    }
    /*FACTS SECTION */
    .fact-content {
        align-self: flex-start;
        padding-left: 30px;
    }

    /* TESTIMONIAL SECTION */

    #testimonials {
        height: min-content;
    }

    .test-content {
        flex-direction: column;
    }

    /* FOOTER SECTION */
    .f-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-links {
        padding-left: 0;
    }
    
    #social-links {
        align-self: center;
    }
    .all-foot-links {
        padding-left: 60px;
    }

    .footer-navigation-links {
        margin-top: 15px;
        padding-right: 0;
        flex: 100%;
    }
}